@use '../../base';

.description {
  margin-block: 10px;
}

.screenshot {
  img {
    width: 500px;
    margin: 10px;
    box-shadow: 0 0 10px 1px gray;
  }
}

#screenshot-container {
  @include base.flex-box(column);

  gap: 20px;
}
