extends ../../../layout

block prepend head
  - var title = 'ダウンロードTips'

block content
  .description ブラウザの設定からダウンロード時の確認ウィンドウを表示しないようにできます。

  .screenshot-container
    .screenshot
      .caption Chromeの場合
      img(src="img/image-Chrome.png")
    .screenshot
      .caption Edgeの場合
      img(src="img/image-Edge.png")
    .screenshot
      .caption Firefoxの場合
      img(src="img/image-Firefox.png")
