.MD-assignment td{
    white-space:nowrap;
    padding: 2px;
}
.MD-assignment .label:hover{
    background-color:#e8e8e8;
}
.MD-assignment .label{
    user-select: none;
}
.MD-assignment .course{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    width:30%;
}
.MD-assignment .ass{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    width:70%;
}
.MD-assignment .input{
    text-align: center;
    vertical-align: bottom;
}
#show-assignment{
  color: #fff;
  background: linear-gradient(to bottom, #6aae00, #529c09);
  border-bottom: 5px solid #315210;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
#show-assignment:hover{
  margin-top: 3px;
  color: #fff;
  background: linear-gradient(to bottom, #6aae00, #529c09);
  border-bottom: 2px solid #315210;
}