@import '../base';

$gap: 4px;

%omitted-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin flex-box($direction: row, $wrap: false) {
  display: flex;
  flex-flow: $direction if($wrap, wrap, nowrap);
  gap: $gap;
}

@mixin grid-box($columns, $rows: unset) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}

.right-align {
  text-align: right;
}

.fixed-table {
  table-layout: fixed;
}

.striped-table {
  tr:nth-of-type(odd) {
    background-color: unset !important;
  }

  tr:nth-of-type(even) {
    background-color: whitesmoke !important;
  }
}

.course {
  vertical-align: unset !important;
  padding-right: unset !important;

  &.removing {
    opacity: 0.3;
  }

  .code {
    color: lightgrey;
    font-size: 0.8em;
  }

  .link-state {
    display: inline;
    color: orange;
    font-size: 0.8em;
    font-weight: bold;
  }

  .status {
    @include flex-box;

    img {
      width: 16px;
      height: 16px;
    }

    &.dummy {
      &::after {
        content: '使わないコース';
      }
    }
  }

  .remarks,
  .teachers {
    @extend %omitted-text;
  }

  .actions {
    @include flex-box(column);

    div {
      width: 16px;
      height: 16px;
    }
  }

  .star {
    &:not([stared]) {
      filter: saturate(0%);
    }

    &:hover,
    &[in-progress] {
      filter: saturate(50%);
    }
  }

  .remove {
    background-image: url('../img/icon-remove.png');
    filter: saturate(0%);

    &:hover {
      filter: saturate(1000%);
    }
  }

  &.cell {
    background-color: $primary-color-light;
    border: 2px solid $primary-color-dark !important;
    height: 60px !important;
    padding: 4px !important;

    .pastcourselist & {
      background-color: #f8f0e0;
    }

    .container {
      @include grid-box(1fr auto, 1fr auto);

      height: 100%;
    }

    .status {
      grid-column-start: span 2;
    }
  }

  &.row {
    td {
      height: unset !important;
    }

    .container {
      @include grid-box(auto 1fr auto auto);

      align-items: center;
    }

    .icon {
      width: 25px;
      height: 25px;
    }

    .title {
      @extend %omitted-text;
    }

    .actions {
      flex-direction: row;
    }
  }

  &.card {
    @include grid-box(auto minmax(0, 1fr) auto);

    padding: 4px !important;
    width: 290px;
    border: 1px dotted $primary-color-dark;
    border-left: 4px solid $primary-color-dark;

    .middle {
      @include flex-box(column);
    }

    .title {
      @extend %omitted-text;

      font-size: 1.3em;
    }

    .info {
      @include grid-box(auto 1fr 1fr);

      align-items: baseline;
    }
  }
}

#content-body {
  @include grid-box(1fr auto);

  gap: 0;

  .left {
    h3 {
      margin-inline: unset !important;
    }
  }

  .right {
    max-width: 245px;

    > div {
      margin-inline-start: 15px;
    }
  }

  .bottom {
    @include flex-box($wrap: true);

    gap: 10px;
  }
}

.section {
  @include flex-box($wrap: true);

  gap: 20px;
}

.courselist {
  th:nth-of-type(2) {
    width: 40px;
  }

  th:nth-of-type(3) {
    width: 80px;
  }

  th:nth-of-type(4) {
    width: 160px;
  }
}

.my-infolist-header {
  background-size: 100% 100% !important;
  padding-inline-start: 60px !important;

  h2 {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}

.my-infolist-body {
  height: unset !important;
}

#alert,
#news {
  flex-basis: 100%;
}

#syllabus,
#former-link,
#kikuzou {
  width: 230px;
}
