@import '../base';

.omitted-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.flex-box {
  display: flex;
  gap: 4px;
}

.wrap-box {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.grid-box {
  display: grid;
  gap: 4px;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.right-align {
  text-align: right;
}

.fixed-table {
  table-layout: fixed;
}

.striped-table {
  tr:nth-of-type(odd) {
    background-color: unset !important;
  }

  tr:nth-of-type(even) {
    background-color: whitesmoke !important;
  }
}

.course {
  vertical-align: unset !important;
  padding-right: unset !important;

  .code {
    color: lightgrey;
    font-size: 0.8em;
  }

  .registration-state {
    display: inline;
    color: orange;
    font-size: 0.8em;
    font-weight: bold;
  }

  .status {
    img {
      width: 16px;
      height: 16px;
    }
  }

  .star {
    width: 16px;
    height: 16px;

    &:not([stared]) {
      filter: saturate(0%);
    }

    &:hover,
    &[in-progress] {
      filter: saturate(50%);
    }
  }

  &.cell {
    background-color: $primary-color-light;
    border: 2px solid $primary-color-dark !important;
    height: 60px !important;
    padding: 4px !important;

    .pastcourselist & {
      background-color: #f8f0e0;
    }

    > div {
      grid-template-columns: 1fr auto;
      grid-template-rows: 1fr auto;
      height: 100%;
    }

    .status {
      grid-column-start: span 2;
    }
  }

  &.row {
    td {
      height: unset !important;
    }

    > :nth-of-type(1) {
      grid-template-columns: auto 1fr auto auto;
      align-items: center;
    }

    .icon {
      width: 25px;
      height: 25px;
    }
  }

  &.card {
    grid-template-columns: auto minmax(0, 1fr) auto;
    padding: 4px !important;
    width: 290px;
    border: 1px dotted $primary-color-dark;
    border-left: 4px solid $primary-color-dark;

    .middle {
      flex-direction: column;
    }

    .title {
      font-size: 1.3em;
    }

    .info {
      grid-template-columns: auto 1fr 1fr;
      align-items: baseline;
    }
  }
}

#content-body {
  display: grid;
  grid-template-columns: 1fr auto;

  .left {
    h3 {
      margin-inline: unset !important;
    }
  }

  .right {
    max-width: 245px;

    > div {
      margin-inline-start: 15px;
    }
  }
}

.courselist {
  th:nth-of-type(2) {
    width: 40px;
  }

  th:nth-of-type(3) {
    width: 80px;
  }

  th:nth-of-type(4) {
    width: 160px;
  }
}

.my-infolist-header {
  background-size: 100% 100% !important;
  padding-inline-start: 60px !important;

  h2 {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}

.my-infolist-body {
  height: unset !important;
}

#alert,
#news {
  flex-basis: 100%;
}

#syllabus,
#former-link,
#kikuzou {
  width: 230px;
}
