$primary-color-light: #f4fde8;
$primary-color-dark: #9ecf4c;
$gap: 4px;

%omitted-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin flex-box($direction: row, $wrap: false) {
  display: flex;
  flex-flow: $direction if($wrap, wrap, nowrap);
  gap: $gap;
}

@mixin grid-box($columns, $rows: unset) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}

.unselectable {
  user-select: none;
}
