doctype html
html(lang='ja')
  head
    block head
      meta(charset='UTF-8')
      title #{ title } | Manaba Plus
      link(rel='stylesheet', href='style.css')
      script(defer, src='index.js')

  body
    block content
    block foot
