#assignment-table {
  margin: 8px 0 12px 0;
  border: 1px solid #ffb566;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
  td {
    border-bottom: 1px solid #ffb566;
    &.course {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 0;
      width: 40%;
      border-left: none;
    }
  }
  th {
    background-color: #fff;
    border-bottom: 3px solid #ffb566;
    text-align: left;
  }

  td,
  th {
    border-left: 1px solid #ffb566;
    padding: 3px 6px;
    white-space: nowrap;
  }
  .sort-active{
    background-color:red;
  }

  .deletable-class:last-child {
    border-bottom: none;
    td:first-child {
      border-left: none;
    }
  }

  .sort-label {
    user-select: none;
    &:first-child {
      border-left: none;
    }
    &:hover {
      color: #2e7c40;
      cursor: pointer;
    }
    /*
    &:active {
      background: linear-gradient(
        rgb(181, 206, 138) 0%,
        rgb(219, 242, 176) 0%,
        rgb(255, 255, 255) 100%
      );
    }
    */
  }

  .ass {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    width: 60%;
  }
  .input {
    text-align: center;
    vertical-align: bottom;
  }
}

#toggle_disable,
#show-assignment {
  margin : 8px 0;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 5px 8px;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.15em;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to bottom, #ffb05b, #ffa23f);
  border-bottom: solid 4px #e28945;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  &:hover {
    margin-top: 11px;
    color: #fff;
    background: linear-gradient(to bottom, #ffb05b, #ffa23f);
    border-bottom: 1px solid #e28945;
  }
}
