$color-border: #529C09;
$color-background:#dffabd;
$color-hover: orange;
$color-font:#2e7c40;
#manaba-plus-parent{
  margin:0 15px 15px 0;
  display: flex;
  flex-direction: column;
  .mp-buttons{
    margin:7px 0;
  }
  #manaba-plus-title {
    height:25px;
    margin-top:6px;
    display:block;
    h2 {
      font-size:12px;
      padding-left: 15px;
    }
  }
  #toggles{
    display: flex;
    label{
      margin-right:15px;
      input{
        margin-right:2px;
      }
    }
  }
}
.button{
    &.button {
        border: 0;
        display: inline-block;
        padding: 8px 15px;
        margin-right: 5px;
        background-color: $color-background;
        border:$color-border solid 1.5px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        text-decoration: none;
        transition: transform 0.2s ease;
        user-select: none;
    }
    &.button:focus {
        outline: none;
    }
    &.button:hover {
      background-color: $color-hover;
      border:white solid 1.5px;
      color:white;
      transition:0.3s;
      cursor:pointer;
    }
}
.toggle-label{
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 25px;
  font-size: 13px;
}
#drop-state {
  p {
    font-weight: 600;
    display: inline-block;
    border-bottom: dotted 3px orange;
  }
}
#mp-table{
  border-collapse:collapse;
  border: 1px solid $color-border;
  .flex{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  th{
    border-bottom: 1px solid $color-border;
    background-color: $color-background;
    color: $color-font;
    &.sort-label:hover{
      background-color: $color-hover;
      color:white;
      transition:0.3s;
      border-bottom: 1px solid $color-hover;
      cursor:pointer;
    }
  }
  td, th{
    white-space:nowrap;
    border-right: 1px solid $color-border;
    padding:3px 6px;
  }
  .input{
    height:100%;
  }
  .course{
    width:40%;
  }
  .ass{
    width:60%;
  }
  .course, .ass{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 0;
  }
}
.download-body {
  width: 800px;
  margin: 100px auto;
  #message {
    width: 100%;
    text-align: left;
  }
  #progress {
    width: 100%;
  }
  #number-counter {
    width: 100%;
    text-align: right;
  }
  p {
    font-size: 15px;
  }
  > p {
    margin: 0;
  }
  .discription {
    margin: 100px 0 0 0;
  }
  img {
    display: block;
    margin: 0 auto;
    border: solid 2px #ddd;
    margin-top: 20px;
  }
  .screenshot-caption {
    text-align: center;
    margin-bottom: 30px;
  }
  .button-parent{
    margin-top:30px;
    text-align: center;
  }
}
.options-html {
  height: 100%;
  .options-body {
    margin: 0;
    background-color: #cfcfcf;
    height: 100%;
  }
  .options {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 800px;
    height: 100%;
    background-color: white;
  }
  .contents {
    padding: 25px;
    div {
      margin: 25px 15px;
    }
  }
  .title {
    text-align: center;
    h1 {
      color: black;
    }
  }
}