---
---

@import "{{ site.theme }}";

.post-content {
  h1 {
    display: none;
  }

  img {
    width: 100%;

    margin-block-start: 10px;
    margin-block-end: 40px;

    filter: drop-shadow(0 0 10px lightgray);
  }
}
